@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Big+Shoulders+Display:wght@700&family=Commissioner:wght@400;500;700&family=Exo:wght@100&family=Inter:wght@400;700;800&family=Kumbh+Sans:wght@400;700&family=Lexend+Deca&family=Manrope:wght@800&family=Outfit:wght@300;400;600&family=Overpass:wght@300;600&family=Plus+Jakarta+Sans:wght@500;800&family=Roboto+Serif:ital,opsz,wght@0,8..144,300;0,8..144,400;0,8..144,600;1,8..144,300&family=Roboto:wght@400;700;900&family=Rubik:wght@400;500;700&family=Ubuntu:wght@400;500;700&display=swap');
:root{
--Bright-orange: hsl(31, 77%, 52%);
--Dark-cyan: hsl(184, 100%, 22%);
--Very-dark-cyan: hsl(179, 100%, 13%);
--Transparent-white: hsla(0, 0%, 100%, 0.75); 
--Font-size: 15px;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    color: var(--Transparent-white);
    
}
.card1{
    background-color: var(--Bright-orange);
}
.card2{
    background-color: var(--Dark-cyan);
}
.card3{
    background-color: var(--Very-dark-cyan);
}
.titles{
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 700;
}
.paragraphs{
    font-family: 'Lexend Deca', sans-serif;
    line-height: 2rem;
    font-weight: normal;
}
button{
    padding: .7rem 2rem;
    border: none;
    text-transform: capitalize;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 500;
}
.btn1{
    color: var(--Bright-orange);
}
.btn2{
    color: var(--Dark-cyan);
}
.btn3{
    color: var(--Very-dark-cyan);
}
button:hover, button:focus{
    color: var(--Transparent-white);
    background: none;
    border: var(--Transparent-white) 1px solid;  
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
 
